# Entorno virtual --------------------------------
env/
.venv/
venv/
ENV/

# Python -----------------------------------------
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
build/
dist/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Credenciales y secretos -------------------------
config/credentials/      
*.json.key
service-account.json
service-account*.json
credentials.json
token.json
.env


# Logs y outputs locales -------------------------
logs/
*.log
outputs/
data/
raw/

# IDE --------------------------------------------
.vscode/
.idea/  
*.swp
*.swo

# OS ---------------------------------------------
.DS_Store
Thumbs.db
desktop.ini

# Script similares no productivos ---------------
arbol.py
arbol.txt
python_check.py


# Restantes varios -----------------------------
*.pyc
.tmp/
*.png
*.csv
